<div class="container">
  <br>

  <div class="jumbotron">
    <h1 class="display-3" id = "page-header" >EAT-DA-BURGER</h1>
    <img src="/assets/images/burger.png" width="200"></img>
  </div>

  <div class ="row">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">Burgers Available</div>
        <div class="card-body">
          <ul class = "list-group">
            {{#each burgers}}
              {{#unless this.devoured}}
                <li class = "list-group-item">
                  {{this.id}}
                  {{this.burger_name}}
                  <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button class= 'btn btn-danger' type="submit">DEVOUR IT!</button>
                  </form>
                 </li>
              {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">Devoured Burgers</div>
        <div class="card-body">
          <ul class = "list-group">
            {{#each burgers}}
              {{#if this.devoured}}
                <li class= "list-group-item">
                  {{this.id}}
                  {{this.burger_name}}
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class ="row">
    <div class="col-md-6" id = "center-card">
      <div class="card text-center">
        <div class="card-header">Add A New Burger</div>
        <div class="card-body">
          <form class="create-update-form action="/api/burgers" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" id="Burger" name="burger_name" required>
              <div class="invalid-feedback">
                  Please enter a name for your burger.
              </div>
            </div>
            <button class= 'btn btn-danger' type="submit" id=="submitBtn">ADD BURGER</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>

</div>

